<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css"> <!-- {{url_for('static', filename='css/style.css')}} -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>THÉÂTRE DU LABYRINTHE</title>
</head>

<body>
    <h1 class="top-title">THÉÂTRE DU LABYRINTHE</h1>

    <div class="main-container">
        <div class="navbar-container" id="myTopnav">
            <a class="menu-icon" onclick="displayMenu()"> MENU <i class="fa fa-bars"></i></a>
            <div class="navbar-sep"> </div>
            <a class="navbar-tab" href="#accueil">ACCUEIL</a>
            <div class="navbar-sep">|</div>
            <a class="navbar-tab" href="#creations">CRÉATIONS</a>
            <div class="navbar-sep">|</div>
            <a class="navbar-tab" href="#a-propos">À PROPOS</a>
            <div class="navbar-sep">|</div>
            <a class="navbar-tab" href="#ateliers">LES ATELIERS</a>
            <div class="navbar-sep">|</div>
            <a class="navbar-tab" href="#contact">CONTACT</a>
            <div class="navbar-sep"> </div>

        </div>

        <div class="sub-container">
            <div class="top-art">
                <div class="banniere">
                    L'ASSOCIATION
                </div>
                <div class="logo">
                    <img class="img-logo" src="../resources/img/logo2.jpg" alt="">
                </div>
            </div>
            <div class="text-content">
                <p>
                    Le Théâtre du Labyrinthe est une compagnie de théâtre professionnelle basé à Chartres et gérée par une association loi 1901.
                </p>
                <p>
                    Elle a pour vocation de créer des spectacles et de proposer des ateliers théâtre pour adolescents et adultes.
                </p>

                <p>
                    Le bureau est actuellement constitué de :
                </p>
                <ul>
                    <li>
                        la Présidente : <span class="name">Lina EUPHRASIE</span>
                    </li>
                    <li>
                        la Trésorière : <span class="name">Kimberley SAUVAGE</span>
                    </li>
                    <li>
                        le Secrétaire : <span class="name">Bernard BRUNETEAU</span>
                    </li>
                </ul>

                <p>
                    Les ateliers sont menés par <span class="name">Gwenaëlle ANGLADE</span>, comédienne et metteur en scène de la compagnie.
                    Gwenaëlle ANGLADE est également professeur d'art dramatique au Conservatoire de Lucé depuis septembre 2017.
                </p>

            </div>

        </div>
    </div>


    <script src="../static/js/index.js"> </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
