{% extends 'home.html' %}

{% block modal %}
<!-- Button trigger modal -->

<button style="display:none" type="button" id="bts-modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
</button>

<!-- Modal -->
<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Infos rentrée 2022-2023
                </h5>
            </div>
            <div class="modal-body" style="color:black">
                <span class="modal-section"> Salon des Associations </span> <br>
                Le Théâtre du Labyrinthe vous souhaite une bonne rentrée à toutes et à tous,
                et aura le plaisir de vous accueillir ce week-end au
                <span class="bold-red"> STAND 98 </span> (au milieu de la butte des charbonniers)
                du salon des associations.
                <ul>
                    <!-- <tt> <li> Samedi 3 Septembre : 10h-19h </li></tt> -->
                    <li> Samedi 3 Septembre : 10h-19h </li>
                    <!-- <tt> <li> Dimanche 4 Septembre : 11h-18h </li></tt> -->
                    <li> Dimanche 4 Septembre : 11h-18h </li>
                </ul>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Compris !</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
