{% extends 'home.html' %}

{% block modal %}
<!-- Button trigger modal -->
<button style="display:none" type="button" id="bts-modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> </button>

<!-- <style>
* {
  box-sizing: border-box;
}

.row {
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
 flex: 50%;
  padding: 0 4px;
  margin-top: 8px;
  vertical-align: middle;
}
</style> -->

<!-- Modal -->
<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #C43100; color: rgb(233, 233, 233);">
        <!-- <div class="modal-content" style="background-color: rgb(206,87,86); color: rgb(233, 233, 233);"> -->
            <!-- titre -->
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Spectacles en Juin 2022
                </h5>
            </div>
            <!-- corps -->
            <div class="modal-body" style="color:rgb(233, 233, 233);">
                <div style="text-align:justify">
                    Venez voir les nouvelles créations / mises en scène du Théâtre du Labyrinthe ! <br><br>

                    Vous retrouverez le Petit Théâtre du Labyrinthe le week-end du <b>11</b> et
                    <b>12 juin</b>, pour ses spectacles enfants, ados et ados confirmés ! <br>
                    Et le week-end suivant, le Théâtre du Labyrinthe vous présentera <b> Rouge Cerise </b> !

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-6 col-sm-6">
                        <img width="100%" src="/static/resources/affiches/enfants/enfants-2022.png">
                                    </div>
                                    <div class="col-6 col-sm-6">
                        <img width="100%" src="/static/resources/affiches/adultes/rouge-cerise-2022.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <i> Réservez dès maintenant en cliquant sur la date souhaitée : </i>
                    <ul>
                        <li> <a style="color:rgb(254,187,36)" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/histoire-de-sons-ou-lecon-d-histoire-covidy-familly-patchwork-comtemporain/" target=_blank>Samedi 11 juin (enfants/ados)</a>
                        <li> <a style="color:rgb(254,187,36)" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/histoire-de-sons-ou-lecon-d-histoire-covidy-familly-patchwork-comtemporain-2/" target=_blank>Dimanche 12 juin (enfants/ados)</a>
                        <li> <a style="color:rgb(254,187,36)" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/rouge-cerise-samedi-18-juin-20h30/" target=_blank>Samedi 18 juin (adultes)</a>
                        <li> <a style="color:rgb(254,187,36)" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/rouge-cerise-dimanche-19-juin-16h30/" target=_blank>Dimanche 19 juin (adultes)</a>
                    </ul>
                </div>
            </div>
            <!-- bouttons -->
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-outline-warning" onclick="window.location.href='https://www.helloasso.com/associations/theatre-du-labyrinthe#evenements';" target="_blank">Réserver !</button>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
