{% extends 'home.html' %}

{% block modal %}
<!-- Button trigger modal -->
<button style="display:none" type="button" id="bts-modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
</button>

<!-- Modal -->
<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #C43100; color: rgb(233, 233, 233);">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
			Nouveau Spectacle en Mai 2022
                </h5>
            </div>
            <div class="modal-body" style="color:rgb(233, 233, 233);">
                <div style="text-align:justify">
			Le Théâtre du Labyrinthe vous présente le weekend du 7 et 8 mai une
			lecture historique et musicale du texte
			<b> Liberté, Égalité, Olympe de Gouges </b>.
			Réservez dès maintenant en cliquant sur le bouton suivant !
                </div>
            </div>
            <div class="modal-footer">
		<!-- <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/liberte-egalite-olympe-de-gouges/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe> -->
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
			<button type="button" class="btn btn-outline-warning" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/liberte-egalite-olympe-de-gouges/">Réserver !</button>
		</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
